/* Basic Colors of Project */

.appcolor { 
  color: #E3E6E9;
  background-color: #45515C
}

.pagecolor {
  color: #45515C;
  background-color: #92A1AD
}

.contentcolor {
    color: #45515C;
    background-color: #E3E6E9
}
