/* Basic Fonts OpenSans is like Segeo UI from Windows */
@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/open-sans/OpenSans-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/open-sans/OpenSans-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/open-sans/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans SemiboldItalic';
  src: url("../../fonts/open-sans/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/open-sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
